In [3]:
import numpy as np
import pandas as pd
import datetime as dt
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [4]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1098,tt0307987,23000000,76488889,Bad Santa,Billy Bob Thornton|Tony Cox|Brett Kelly|Lauren...,Terry Zwigoff,He doesn't care if you're naughty or nice.,A miserable conman and his partner pose as San...,91,Drama|Comedy|Crime,Columbia Pictures|Dimension Films (US version),11/25/2003,6.2,2003
1528,tt0446046,30000000,34742066,Take the Lead,Antonio Banderas|Rob Brown|Yaya DaCosta|Alfre ...,Liz Friedlander,Never Follow,A former professional dancer volunteers to tea...,108,Music,New Line Cinema|Tiara Blu Films,3/17/2006,6.4,2006
1344,tt0356910,110000000,478207520,Mr. & Mrs. Smith,Angelina Jolie|Brad Pitt|Vince Vaughn|Adam Bro...,Doug Liman,Smart and sexy.,After five (or six) years of vanilla-wedded bl...,120,Action|Comedy|Drama|Thriller,20th Century Fox|Weed Road Pictures|Dutch Oven...,6/7/2005,6.5,2005
1073,tt1047540,25000000,119772232,Parental Guidance,Billy Crystal|Bette Midler|Marisa Tomei|Tom Ev...,Andy Fickman,Here come the grandparents. There go the rules.,Artie and Diane agree to look after their thre...,104,Comedy,20th Century Fox|Chernin Entertainment|Walden ...,12/25/2012,5.9,2012
50,tt2140379,26000000,30523226,Self/less,Ryan Reynolds|Ben Kingsley|Natalie Martinez|Ma...,Tarsem Singh,God Created Man. Man Created Immortality.,An extremely wealthy elderly man dying from ca...,116,Science Fiction|Mystery|Thriller,Endgame Entertainment|Ram Bergman Productions,7/10/2015,6.2,2015

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [6]:
answers = {} # создадим словарь для ответов
data['profit'] = data['revenue'] - data['budget']

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [7]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [8]:
# тут пишем ваш код для решения данного вопроса:
data[data['budget'] == data['budget'].max()]['original_title']

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

ВАРИАНТ 2

In [9]:
# можно добавлять разные варианты решения
data.sort_values(by = 'budget', ascending = False).iloc[0].original_title

'Pirates of the Caribbean: On Stranger Tides'

# 2. Какой из фильмов самый длительный (в минутах)?

In [10]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [11]:
max_length_film = data[data['runtime'] == data['runtime'].max()]['original_title']
display(max_length_film)

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [12]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [13]:
min_length_film = data[data['runtime'] == data['runtime'].min()]['original_title']
display(min_length_film)

768    Winnie the Pooh
Name: original_title, dtype: object

# 4. Какова средняя длительность фильмов?

In [14]:
answers['4'] = '2. 110'

In [15]:
film_mean_length = round(data['runtime'].mean())
display(film_mean_length)

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
answers['5'] = '1. 107'

In [17]:
film_median_length = round(data['runtime'].median())
display(film_median_length)

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [18]:
answers['6'] = '5. Avatar (tt0499549)'

In [19]:
# лучше код получения столбца profit вынести в Предобработку что в начале
max_profit_film = data[data['profit'] == data['profit'].max()]['original_title']
display(max_profit_film)

239    Avatar
Name: original_title, dtype: object

# 7. Какой фильм самый убыточный?

In [20]:
answers['7'] = '5. The Lone Ranger (tt1210819) '

In [21]:
min_profit_film = data[data['profit'] == data['profit'].min()]['original_title']
display(min_profit_film)

1245    The Lone Ranger
Name: original_title, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [22]:
answers['8'] = '1. 1478'

In [23]:
data[data.profit > 0]['imdb_id'].count()

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [24]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [25]:
data.loc[data.release_year==2008].sort_values(by='revenue',ascending=False)['original_title'].iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [26]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [27]:
data.loc[data.release_year.isin([2012, 2013, 2014])].sort_values(by='profit',ascending=True)['original_title'].iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [28]:
answers['11'] = '1. Drama'

In [29]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data2 = data.copy()
data2['genres'] = data2['genres'].str.split('|')
data2 = data2.explode('genres')
data2.groupby(['genres']).count().sort_values(['imdb_id'], ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [30]:
data2 = data.copy()
data2['genres'] = data2['genres'].str.split('|')
data2 = data.explode('genres')
data2['genres'].value_counts().index[0]

'Comedy'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [31]:
answers['12'] = '1. Drama'

In [32]:
data2 = data.query('revenue > budget').copy()
data2['genres'] = data2['genres'].str.split('|')
data2 = data2.explode('genres')
data2['genres'].value_counts().index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [33]:
answers['13'] = '5. Peter Jackson'

In [34]:
data2 = data.copy()
data2['director'] = data2['director'].str.split('|')
data2 = data2.explode('director')
data2.groupby(['director'])['revenue'].sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [35]:
answers['14'] = '3. Robert Rodriguez'

In [36]:
data2 = data.copy()
data2['director'] = data2['director'].str.split('|')
data2 = data2.explode('director')
data2[data2['genres'].str.contains('Action')]['director'].value_counts(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [37]:
answers['15'] = '3. Chris Hemsworth'

In [38]:
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|')
data2 = data2.explode('cast')
data2.loc[data['release_year'] == 2012].groupby(['cast']).sum().sort_values(['revenue'], ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [39]:
answers['16'] = '3. Matt Damon'

In [40]:
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|')
data2 = data2.explode('cast')
data2[data2['budget'] > data2['budget'].mean()].groupby(['cast'])['imdb_id'].count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [41]:
answers['17'] = '2. Action'

In [42]:
data2 = data.copy()
data2['cast'] = data2['cast'].str.split('|')
data2 = data2.explode('cast')
data2['genres'] = data2['genres'].str.split('|')
data2 = data2.explode('genres')
data2.loc[data2['cast'] == 'Nicolas Cage'].groupby(['genres']).count().sort_values(['imdb_id'], ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [43]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [44]:
data2 = data.copy()
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
data2 = data2[data2['production_companies'] == 'Paramount Pictures'] 
data2 = data2[data2['profit'] == data2['profit'].min()]
data2['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
answers['19'] = '5. 2015'

In [46]:
data.groupby(['release_year']).sum()['revenue'].sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [47]:
answers['20'] = '1. 2014'

In [48]:
data.loc[data.production_companies.str.contains('Warner Bros')
].groupby(['release_year']).sum().profit.sort_values(ascending = False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [49]:
answers['21'] = '4. Сентябрь'

In [50]:
data2 = data.copy()
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.apply(lambda x: x.strftime('%B'))
data2.groupby(['release_date']).count().sort_values(['imdb_id'], ascending=False).index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [51]:
answers['22'] = '2. 450'

In [52]:
data2 = data.copy()
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.apply(lambda x: x.strftime('%B'))
data2.groupby(['release_date']).count().loc[['August', 'July', 'June']].sum()['imdb_id']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [53]:
answers['23'] = '5. Peter Jackson'

In [54]:
data2 = data.copy()
data2['release_date'] = pd.to_datetime(data2['release_date'])
data2.release_date = data2.release_date.apply(lambda x: x.strftime('%B'))
data2['director'] = data2.director.str.split('|')
data2=data2.explode('director')
data2 = data2.query('release_date in ["December", "January", "February"]')
data2['director'].value_counts().index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [55]:
answers['24'] = '5. Four By Two Productions'

In [56]:
data2 = data.copy()
data2['production_companies'] = data2['production_companies'].str.split('|')
data2 = data2.explode('production_companies')
data2['title_len'] = data2['original_title'].apply(len)
data2.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [57]:
answers['25'] = '3. Midnight Picture Show'

In [58]:
data2 = data.copy()
data2['production_companies'] = data2.production_companies.str.split('|')
data2 = data2.explode('production_companies')
data2['len_overview'] = data2['overview'].apply(lambda x:len(x.split(' ')))
data2.pivot_table(['len_overview'],['production_companies'], aggfunc='mean').sort_values(by='len_overview', ascending = False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [60]:
data2 = data.copy()
vote_average_99 = data2['vote_average'].quantile(0.99) 
data2[data2['vote_average'] > vote_average_99]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [62]:
data2 = data.copy()
pd.concat([pd.Series(list(itertools.combinations(i.split('|'), 2))) for i in data2['cast']]).value_counts().index[0]

/home/keshka/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

('Daniel Radcliffe', 'Emma Watson')

ВАРИАНТ 2

# Submission

In [63]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819) ',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '1. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [64]:
# и убедиться что ни чего не пропустил)
len(answers)

27